/* Reset de estilos para limpar as configurações padrão do navegador */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
  display: grid;
  grid-template-areas: 
  "header header header"
  "main main main"
  "footer footer footer"
}
.construcao{
  font-size: 90px;
}

.header {
  background-color: rgb(173, 167, 167);
  padding: 1rem;
  text-align: center;
  grid-area: header;
}

.navbar {
  margin-top: 1rem;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline;
  margin-right: 1rem;
}

.navbar li a {
  text-decoration: none;
  color: black;
}

.main {
  grid-area: main;
  height: 100vh;
  background-color: rgb(72, 24, 117);
  justify-content: center;
}

.section{
  background-color: aquamarine;
  width: 100vw;
}

.section2{
  background-color: rgb(182, 192, 43);
}

/* Estilos para os produtos (imagens, descrições, etc.) podem ser adicionados aqui */

.footer {
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
  grid-area: footer;
  /* Fixa o rodapé no final da página */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}